.our-service-section{
    display: flex;
    flex-direction: column;
}
.subscribe-button, .our-service-inquire{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color :#121212;
    
    border-right: 1px solid #121212;
    border-bottom: 1px solid #121212;
    border-left: 1px solid #121212;
}

.subscribe-button > button, .our-service-inquire > button{
    background-color: #fff;
    border: 1px solid #121212;
    padding: 1.111vw 1.73vw ;
    margin-top: 4.44vw;
}

.our-service-h1{
    text-align: center;
    border-right: 1px solid #121212;
    border-bottom: 1px solid #121212;
    border-left: 1px solid #121212;
}
.subscribe-image{
    border-right: 1px solid #121212;
    border-bottom: 1px solid #121212;
    border-left: 1px solid #121212;
}

.our-service-inquire{
    background-image: url('../../images/bde4b946c7d6be8278be8f0412c7d02a.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color:rgba(0,0,0,0.6) ;
    height: 50vw;
    color: #fff;
}
.our-service-inquire  > button{
    background-color: inherit;
    color: #fff;
    border-color: #fff;
}

.our-service-anim-bg{
    animation: anim-bg 3s;
}
.our-service-anim-text{
    animation: anim-text 1s;
}
.our-service-h1 > h1 > span{
    display: flex;
    overflow: hidden;
    justify-content: center;
}

@keyframes anim-bg {
    0%{
        background-size: 120%;
    }
    100%{
        background-size: 100%;
    }
}

@keyframes anim-text {
    0%{
        opacity: 0;
        transform: rotateZ(30deg) translateY(40px);
    }
    100%{
        opacity: 1;
        transform: rotateZ(0) translateY(0);
    }
}


@media (min-width: 992px) {
    .our-service-subscribe{
        display: flex;
        flex-direction: row;
    }
    .our-service-subscribe > div > img{
        width: 50vw;
    }
    .our-service-subscribe > div{
        flex: 0 1 50%;
    }
    .subscribe-button, .our-service-inquire{
        padding: 5.55vw;
    }
    .subscribe-button  > h4, .our-service-inquire > h4{
        font-size: .982vw;
        text-transform: uppercase;
    } 
    .subscribe-button > h2, .our-service-inquire > h2, .our-service-h1 > h1{
        font-size: 3.472vw;
    }
    .subscribe-button > p, .our-service-inquire > p{
        font-size: 1.250vw;
    }
    .subscribe-button > button, .our-service-inquire > button{
        font-size: 1.111vw;
    }
    
}
@media (max-width: 992px) and (min-width: 768px){
    .our-service-subscribe{
        display: flex;
        flex-direction: column;
    }
    .our-service-subscribe > div > img{
        width: 100vw;
    }
    .subscribe-button, .our-service-inquire{
        padding: 5.55vw;
    }
    .subscribe-button  > h4, .our-service-inquire > h4{
        font-size: 1.832vw;
        text-transform: uppercase;
    } 
    .subscribe-button > h2, .our-service-inquire > h2, .our-service-h1 > h1{
        font-size: 6.510vw;
    }
    .subscribe-button > p, .our-service-inquire > p{
        font-size: 2.344vw;
    }
    .subscribe-button > button, .our-service-inquire > button{
        font-size: 2.083vw;
        padding: 15px
    }
}

@media (max-width: 767px) {
    .our-service-subscribe{
        display: flex;
        flex-direction: column;
    }
    .our-service-subscribe > div > img{
        width: 100vw;
    }
    .subscribe-button, .our-service-inquire{
        padding: 5.55vw;
        height: 111vw;
    }
    .subscribe-button  > h4, .our-service-inquire > h4{
        font-size: 3.2vw;
        text-transform: uppercase;
    } 
    .subscribe-button > h2, .our-service-inquire > h2, .our-service-h1 > h1{
        font-size: 9.067vw;
    }
    .subscribe-button > p, .our-service-inquire > p{
        font-size: 4.267vw;
    }
    .subscribe-button > button, .our-service-inquire > button{
        font-size:3.733vw;
        padding: 15px
    }
}