.product-section{
     width: 100vw;
    
}
.product-buy-section{
    display: flex;
    flex-direction: column;
    padding: 2.77vw
}
.product-image-section > img{
    width: 100%;
    height: 100%;
}
.head-rec{
    text-align: center;
}
.recomendations > div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    box-sizing: border-box;
    border: 1px #121212 solid;
    height: 25vw;
}
.recomendations > div > img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}
.recomendations > div > h4 {
    margin: 0;
    z-index: 2;
    color: #121212
}
.recomendations > div > p {
    margin: 0;
    z-index: 2;
    color: #121212
}
.product-buy-section{
    margin-top: 5.7vw;
}
.product-buy-section > h2{
    display: flex;
    font-weight: 700;
}
.product-buy-section > h2 > span{
    font-weight: 400;
    color: #808080;
}
.product-buy-section > h1{
    font-weight: 500;
    margin: 1.66vw 0 1.66vw 0;
}

.product-buy-section > p {
    margin: 0 0 1.66vw 0;
}
.quantity > p, .combination-section > p{
    margin: 0 1.111vw 0 0;
    font-size: 1.25vw;
    font-weight: 500;
    color: #121212;
}
.counter {
    display: flex;
    width: 10.13vw;
    height: 3.05vw;
}
.counter > button, .counter > input {
    border-radius: 0;
    border: 1px solid #121212;
    background-color: #fff;
    box-shadow: none;
    font-size: 1.111vw;
}
.combination-section{
    margin-top: 1.66vw;
}
.combination{
    margin-top: 1.111vw;
}
.comb-item{
}
.combination-section > div{
    width : 85%;
    margin: 0 auto;
}
.product-buy-section > button{
    height: 56px;
}
.product-buy-section p > span {
    display: inline;
}

@media (min-width: 992px) {
    .product-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'image buy''name-recom name-recom''recomendation recomendation''footer footer';
    }
    .product-image-section{
        grid-area: image;
    }
    .product-buy-section{
        grid-area: buy;
        display: flex;
        flex-direction: column;
    }
    .footer{
        grid-area: footer;
    }
    .head-rec{
    
        grid-area: name-recom;
    
    }
    .recomendations{
        grid-area:  recomendation;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
    }
    .product-buy-section > h2{
        font-size: 0.972vw;
    }
    .product-buy-section > p {
        font-size: 1.111vw;
    }

}