
.reviews-section{
    
    padding: 5.55vw;
}
.carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.indicators{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.indicators > div{
    margin: 10px;
}
.inner-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 20.20vw;
    padding: 1.67vw;
}
.inner-div > div:not(.indicators){
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 76.62vw;
}
.inner-content:not(.active){
    display: none;
    transition: all 0.3s;
}

.reviews-h4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.arrow-button > button{
    background-color: #fff;
    border: 0;
    font-size: 6vw;
    opacity: .6;
}
.next-active{
    animation: next-anim 2s;
}
.prev-active{
    animation: prev-anim 2s;
}

@media (min-width: 992px) {
    .reviews-h4 > h4{
        font-size: .982vw;
    }
    .reviews-h4 > h1{
        font-size: 3.472vw;
    }
    .inner-div h2{
        font-size: 2.22vw;
    }
    .inner-div p {
        font-size: 1.11vw;
    }
}


@keyframes next-anim {
    0%{
        display: block;
        transform: translateX(-80vw);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes prev-anim {
    0%{
        display: block;
        transform: translateX(80vw);
    }
    
    100%{
        transform: translateX(0);
    }
}