*{
    box-sizing: border-box;
}
@media (min-width: 992px) {
    #js-oversized {
        display: flex;
        flex-direction: row;
        margin-top: 87px;
    }
    
    #js-oversized > div {
        flex: 0 1 50%;
        
    }
    .left-image{
        display: flex;
        flex-direction: row-reverse;
    }
    .left-image > div, .left-image > a , .right-image > div, .right-image > a{
        animation: border-opacity 1.5s;
        flex: 0 1 50%;
        border: 1px #121212 solid;
    }
    .left-image img, .right-image img{
        width: 100%;
        height: auto;
    }
    .right-image{
        display: flex;
        flex-direction: row;
    }
    .right-image > div:not(.image-div){
        border-right: 0;
    }
    .left-image > .image-div{
        border-right: 0;
    }
    .right-image > div{
        border-top: 0;
    }
    .right-image > a  {
        border-top: 0;
        border-left: 0;
    }
    .left-image > div{
        border-top: 0;
    }
    .left-image > a {
        border-top: 0;
    }
    .main-right-section > a:hover{
        text-decoration: none;
    }
   .section-main{
        
        animation: border-opacity 1.5s;
    }
    .section-main > div span{
        color: #121212;
        line-height: 50px;
        text-decoration: none;
        font-family: Roboto;
        font-weight: bold;
        letter-spacing: 3px;/* блоки с ссылками на всю ширину */
        display: flex;
        justify-content: center;
        
        animation: h1-right 1.5s;
    }
    .section-main >  div {
        width: 50%;
        padding: 0;
        overflow: hidden;
    }
    .section-main > div >  img {
        position: relative;
        z-index: 0;
        animation: img-right 1.5s;
    }
    .section-main:hover{
        cursor: pointer;
    }
    .section-main:hover > div > img{
        transform: scale(1.2);
        transition: all 0.3s;
    }
    .section-main div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-main h1 {
        font-size: 2.7vw;
        animation: h1-right 1.5s;
    }

    .main-left-section{
        width: 605.625px;
    }
    .main-right-section{
        width: 605.625px;
    }

    .main-left-section > div > div {
        overflow: hidden;
    }
    .main-left-section > div >  div{
        padding: 11.10%;
    }
    .main-left-section h1 {
        font-size: 4.65vw;
        color: #121212;
        line-height: 120%;
        display: flex;
        flex-direction: column;
    }
    .main-left-section h1 > span {
        display: flex;
        overflow: hidden;
    }
    .main-left-section h1 span > span{
        transform: rotateZ(30);
        /* animation: p-text 1.5s; */
    }
    .main-left-section p{
        font-size: 1.25vw;
        color: #121212;
        line-height: 140%;
        /* animation: p-text 1.5s; */
    }
    .main-left-section > div > div:first-child{
        border-bottom: 1px #121212 solid;
        padding-bottom: 24px;
    }
    .main-left-section > div > div:last-child{
        display: flex;
        flex-direction: row;
        padding-top: 24px;
    }
    .main-left-section > div > div > div{
        flex: 0 1 50%;
    }
    .main-left-section > div > div > div:last-child{
        padding-left: 5%;
        /* animation: p-text 1.5s; */
    }
    .main-left-section > div > div > div:last-child {
        text-align: justify;
        font-size: .98vw;
        text-transform: none;
    }
    .main-left-section > div > div > div:first-child{
        padding-right: 5%;
        
        border-right: 1px #121212 solid;
    }
    .main-left-section img {
        width: 100%;
    }
    
    .main-left-section > div {
        transition: all 0.1s;
        top: 0;
    }
    .white-border{
        animation: white-color-bg 1.5s;
    }
    h1 > span, h2> span, h4> span, p > span{
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    @keyframes img-right {
        0%{
            opacity: 0;
            transform: scale(1.5);
        }
        70%{
            opacity: 1;
        }
        100%{
            transform: scale(1);
        }
    }
    @keyframes h1-right{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes white-color-bg {
        0%{
            opacity: 1;
            background: #fff;
            width: 100%;
            height: 100%;
            position: relative;
            top: -100%;
        }
        100%{
            opacity: 1;
            height: 0%;
        }
    }
    @keyframes p-text {
        0%{
            opacity: 0;
            transform: translate3d(0px, 8vw, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(10deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
        }
        50%{
            will-change: transform, opacity;
        }
        100%{
            opacity: 1;
            transform: translate3d(0px, 0vw, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
        }
        
    }
    @keyframes border-opacity{
        0%{
            border-color: rgb(255,255,255);
        }
        50%{
            
            border-color: rgb(255,255,255);
        }
        100%{
            border-color: rgb(18,18,18);
        }
    }
}

@media (max-width: 991px){
    .main-left-section h1 > span {
        display: flex;
        overflow: hidden;
    }
    .main-left-section h1 span > span{
        transform: rotateZ(30);
        /* animation: p-text 1.5s; */
    }
    .main-left-section{
        width: 100vw;
        margin-top: 61px;
        margin-bottom: 80px;
    }
    .main-left-section h1 {
        font-size: 8.7vw;
        animation: p-text 1.5s;
    }
    .main-left-section p {
        font-size: 2.4vw;
        
    }
    .main-left-section > div > div:first-child{
        border-bottom: 1px #121212 solid;
    }
    .main-left-section > div > div:last-child {
        display: flex;
        flex-direction: row;
        margin-top: 54px;
    }
    .main-left-section > div > div > div{
        flex: 0 1 50%;
    }
    .main-left-section > div > div > div > img{
        width: 100%;
    }
    .main-left-section > div > div > div:last-child{
        padding-left: 5%;
        border-left: 1px #121212 solid;
        font-size: 2vw;
        /* animation: p-text 1.5s; */
    }

    .main-left-section > div > div > div:first-child{
        margin-right: 5%;
    }
    .main-left-section > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 72.92%;
        margin: 0 auto;
    }
    .main-right-section{
        width: 100vw;
    }
    .left-image{
        display: flex;
        flex-direction: row;
    }
    .right-image{
        display: flex;
        flex-direction: row-reverse;
    }
    .section-main > div, .section-main > a{
        flex: 0 1 50%;
    }
    .section-main{
        width: 100vw;
    }
    .section-main > div > a{
        width: 50%;
        font-size: 2.5vw;
    }
    .section-main h1{
        font-size: 6.7vw;
    }
    .section-main > a > img {
        position: relative;
        z-index: 0;
    }
    .section-main > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-main > a {
        overflow: hidden;
    }
    .section-main > a > img:hover{
        transform: scale(1.2);
        transition: all 0.3s;
    }
    .right-image > div {
        border-top: 1px #121212 solid;
        border-right:  1px #121212 solid;
        border-bottom:  0;
        border-left:  1px #121212 solid;
    }
    .right-image > a {
        border-top: 1px #121212 solid;
        border-bottom:  0;
        border-left:  1px #121212 solid;
    }
    .left-image > div{
        border-top: 1px #121212 solid;
        border-right:  1px #121212 solid;
        border-bottom:  0;
        border-left:  1px #121212 solid;
    }
    .left-image > a{
        border-top: 1px #121212 solid;
        border-right:  1px #121212 solid;
        border-bottom:  0;
    }
    .section-main > a > img{
        width: 100%;
    }
    .white-border{
        animation: white-color-bg 1.5s ease-in-out;
    }
    @media (min-width: 522px){
        .main-left-section h1 {
            font-size: 12vw;
        }
        .main-left-section p {
            font-size: 4.8vw;
            /* animation: p-text 1.5s; */
        }
        .main-left-section > div > div > div:last-child{
            font-size: 2.9vw;
        }
        .section-main h1{
            font-size: 6.9vw;
        }
        .section-main > div > a{
            width: 50%;
            font-size: 3.7vw;
        }
    }
    @keyframes white-color-bg {
        0%{
            background: #fff;
            width: 100%;
            height: 100%;
            position: relative;
            top: -100%;
        }
        100%{
            height: 0%;
        }
    }
    @keyframes h1-right{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes p-text {
        0%{
            opacity: 0;
            transform: translate3d(0px, 8vw, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(10deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
        }
        50%{
            will-change: transform, opacity;
        }
        100%{
            opacity: 1;
            transform: translate3d(0px, 0vw, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
        }
        
    }
    @keyframes border-opacity{
        0%{
            
            border-color: rgb(255,255,255);
        }
        100%{
            border-color: rgb(18,18,18);
        }
    }
}

.sticky{
    z-index: 98!important;
}