@media(max-width: 991px) {
    .menu-button{
        width: 7.29%;/* ширина */
        /* высота */
        display: flex;/* выравнивание на флексбох */
        align-items: center;
        /* по вертикали */   justify-content: center;/* по горизонтали */
        flex-direction: column;/* складывание полосок друг под друга */
        border: solid 1px #121212;/* рамка кнопки *//* тень кнопки */
        padding: 16px;
        z-index: 10;

    }
    .menu-button:hover{
        cursor: pointer;
      }
    .menu-button span{
        display: block;/* строчный элемент в блочный */
        transition: all 0.3s;/* плавность анимации */
        width: 42.85%;/* ширина полоски */
        margin: 3px;/* расстояние между полосками */
        height: 3px;/* высота полоски */
        background-color: #121212;/* Цвет полоски */
        z-index: 10;
    }
    .first-line{
        transform: translate(15%, 100%) rotate(45deg);
        transform-origin: left top;
      }
      /* анимация средней полоски */
      .second-line{
        transform: scale(0);
      }
      /* анимация нижней полоски */
      .third-line{
        transform: translate(-15%, -525%) rotate(-45deg);
        transform-origin: right bottom;
      }

      .menu{
        display: flex;
        flex-direction: column;/* технология флексбокс */
        align-items: center; /* выравнивание по центру */
        justify-content: center; /* выравнивание по центру */
        background-color: #fff;
        width: 100vw; /* ширина блока меню */
        max-height: 90vh;
        z-index: 5;/* слой ниже кнопки */
        position: relative; /* блок зафиксирован */
        /* скрывание блока с меню */
        top: -100vh; /* позиция от левого верха */
        transition: all 0.5s;/* плавное выдвижение блока */
        list-style: none; /* убрать маркеры */
        padding: 0;
        margin: 0;
    }
    /* Активный класс меню видимое */
    .menu-active{
         top: 0; /* блок с меню видимый */
    }
    /* Стилизация списка меню */
    
    /* Стилизация ссылок меню */
    .menu a{
        border-bottom: 1px solid #121212;
        display: block; /* из строчного в блочный */
        color: #121212;
        line-height: 50px;
        text-decoration: none;
        font-family: Roboto;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 3px;
        transition: all 0.5s;
        width: 100vw; /* блоки с ссылками на всю ширину */
        display: flex;
        justify-content: center;
        z-index: 0; /* выравнивание по центру */
    }
    /* Эффект наведения мыши на ссылки */
    
    nav > div {
        display: flex;
        flex-direction: row;
        background-color: #fff;
        z-index: 50;
    }
    .menu-button + div, .menu-button + div + div {
        border: 1px #121212 solid;
        flex: 1 1 auto;
    }
    .menu-button, .shop-cart{
        flex: 0 0 7.29%;
    }
    .shop-cart{
        width: 7.29%;
        border: solid 1px #121212;/* рамка кнопки *//* тень кнопки */
        padding: 16px;
    }
    nav{
        position: fixed;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: 100;
        opacity: 1;
        height: 11.5vh;
    }
}

@media (min-width: 992px) {
    nav ul{
        list-style: none; /* убрать маркеры */
        padding: 0!important;
        display: flex;
        flex-direction: row;
        width: 25%;
        justify-content: space-between;
        align-items: center;
        margin: 0 !important ;
        position: relative;
        z-index: 10;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 0 0 25%;
        position: fixed;
        width: 100%;
        background-color: #fff;
        top: 0;
        left: 0;
        z-index: 100;
    }
    nav ul li{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 32px 1.6%;
        color: #121211;
        border-left: 0.5px #121212 solid;
        border-top: 1px #121212 solid;
        border-bottom: 1px #121212 solid;
        overflow: hidden;
    }
    nav ul li a, nav ul li button {
        text-decoration: none;
        color: #121212;
        font-size: 1.12vw;
        animation: text 0.5s ease-out;
    }
    nav ul li button{
        border: 0;
        background-color: transparent;
        padding: 0;
    }
    nav ul li button:hover{
        cursor: pointer;
    }
    nav + div {
        filter: blur(5);
    }
    nav div{
        flex: 1 1 auto;
        border-left: 0.5px #121212 solid;
        border-top: 1px #121212 solid;
        border-bottom: 1px #121212 solid;
    }
    div+ul li:nth-child(2){
        border-right: 0.5px #121212 solid;
    }
}

@keyframes text {
    0%{
        opacity: 0;
        transform: translate3d(0px, 8vw, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(10deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }
    50%{
        will-change: transform, opacity;
    }
    100%{
        opacity: 1;
        transform: translate3d(0px, 0vw, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }
    
}