.footer{
    display: flex;
    flex-direction: row;
}
.footer > div > div{
    border: 1px #121212 solid;
    
    padding: 2.77vw;
    box-sizing: border-box;
    height: 100%;
    
}
.footer > div{
    flex: 0 1 25%;
}
.footer h1 {
    margin-top: 0;
    color: #808080
}
.footer h2 {
    color: #808080
}

.footer-remind > div{
}
.footer-remind  form{
    display: flex;
    flex-direction: column;
}
.footer-remind  form > button, .footer-remind  form > input{
    height: 3.89vw;
    margin-top: 24px;
}
.footer-remind  form > input{
    border: .5px #D2D2D7 solid;
}
.footer-remind  form > button{
    background: var(--black, #121212);
    border: 0;
    color: #fff;
}

.footer a{
    color: #121212;
    text-decoration: none;
}

.column-div{
    display: flex;
    flex-direction: column;
}
.child {
    margin-bottom: 24px
}
.icons-div{
    display: flex;
    flex-direction: row;

}
.icons-div > a{
    flex: 0 1 20%;
    
}


@media (min-width: 992px) {
    .footer h1 {
        font-size: 1.458vw;
    }
    .footer p, .footer a{
        font-size: 1.111vw;
    }
    .footer h2{
        font-size: 0.972vw;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .footer{
        flex-wrap: wrap;
    }
    .footer > div{
        flex: 0 1 50vw;
    }
    .footer h1 {
        font-size: 2.734vw;
    }
    .footer p, .footer a{
        font-size: 2.083vw;
    }
    .footer h2{
        font-size: 1.823vw;
    }
}
@media (max-width: 767px) {
    .footer{
        flex-wrap:wrap;
    }
    .footer > div{
        flex: 0 1 100vw;
    }
    .footer h1 {
        font-size: 4.8vw;
    }
    .footer p, .footer a{
        font-size: 3.7vw;
    }
    .footer h2{
        font-size: 3.7vw;
    }
}