*{
    box-sizing: border-box;
}

.about-us-section{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.about-us-section > div{
    flex: 0 1 50%;
    width: 50%;
}

.about-us-h1{
    border: 1px #121212 solid;
    border-right: 0;
}
.about-us-h1 h1{
    padding: 5.56vw;
    margin: 0;
    color :#121212;
    z-index: 98!important;
}

.about-us-content{
    border: 1px #121212 solid;
    border-left: 0.5px #121212 solid;
    border-top: 0;
}
.about-us-content div{
    padding: 5.56vw;
}
.about-us-content h1{
    color: #121212;
    opacity: 0;
}

.about-us-content div h2{
    margin: 0;
    color: #121212;
    opacity: 0;

}
.about-us-content > div > a {
    width: 100%;
    color :#121212;
    text-decoration: none;
    margin-top: 2vw;
    padding: 1vw;
    border: 0.5px #121212 solid;
    opacity: 0;
}
.about-us-content > div > p{
    margin: 0;
    margin-bottom: 2vw;
    color: #121212;
    opacity: 0;
}

.about-us-section .visible-elem{
    opacity: 1;
    transition: opacity 1s;
}
.about-us-section .none-visible-elem{
    opacity: 0;
    transition: opacity 1s;
}

@media (min-width: 992px) {
    .about-us-h1 h1{

        font-size: 3.8vw;
    }
    .about-us-content h1{
        font-size: 2.7vw;
    }
    .about-us-content div h2{
        font-size: .98vw;
    }
    .about-us-content > div > a {

        font-size: 1.12vw;
    }
    .about-us-content > div > p{
        font-size: 1.12vw;
        }
}

@media (max-width: 991px){
    .about-us-section{
        flex-direction: column;
        width: 100%;
    }
    .about-us-section > div{
        width: 100%;
    }
    .about-us-h1{
        border: 0;
        border: 1px solid #121212;
    }
    .about-us-h1 h1 {
        font-size: 6.5vw;
    }
    .about-us-content{
        border: 1px solid #121212;
        border-top: 0;
    }
    
    .about-us-content h1 {
        font-size: 4.9vw;
    }
    .about-us-content p {
        font-size: 2.1vw;
    }
    .about-us-content a{
        font-size: 2.1vw;
    }
}