
.follow-us-icons{
    display: flex;
    flex-direction: row;
    width: 99%;
}
.follow-us-icons > div{
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    border-bottom: 1px #121212 solid;

}
.follow-us-icons-h2{
    
    padding: 1.11vw;
    border-bottom: 1px #121212 solid;
    border-right: 1px #121212 solid;
}

.follow-us-icons-h2 h2{
    margin: 0;
}

.follow-us-icons-img{
    
    align-items: center;
}
.follow-us-icons-img > a > img{
    display: flex;
    justify-content: center;
    align-items: center;

}
.follow-us-icons-img > a > img:hover{
    transform: scale(1.2);
    transition: all 0.1s;
}
.lets-talk-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lets-talk-div > form {
    padding: 5.55vw;
}
.lets-talk-div > form > div {
    height: 3.88vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.lets-talk-div > form > div > button {
    padding: 0;
    margin: 0;
    height: 100%;
    flex: 0 1 50%;
    background-color: #121212;
    border: 0;
    color: #fff;
    margin-left: 2.2%;
}
.lets-talk-div > form > div > input{
    padding: 0;
    margin: 0;
    height: 100%;
    flex: 0 1 50%;
    margin-right: 2.2%;
    border: 1px solid var(--light-gray, #D2D2D7);
    background: var(--white, #FFF);
}

.follow-us-contacts > div{
    border : 1px solid #121212 ;
}
.follow-us-contacts > div h2 {
    border-bottom: 1px solid #121212;
}

.follow-us-contacts > div > div:last-child > div{
    display: flex;
    flex-direction: row;
}

.follow-us-contacts > div > div:last-child{

    padding-bottom: 1.67vw;
    padding-top: 1.67vw;
}
.follow-us-phone-p a{
    color: #121212;
}


@media (min-width: 992px){
    .follow-us-section{
        display: flex;
        flex-direction: row;
    }
    .follow-us-section > div{
        flex: 0 0 50%;
    }
    .follow-us-image{
        width: 100%;
    }
    .follow-us-image > img {
        width: 100%;
    }
    .follow-us-icons img{
        width: 1.32vw;
    }
    .follow-us-icons a {

        margin-right: 2.22vw;
    }
    .follow-us-icons a:last-child{
        margin: 0;
    }
    form > h1{
        font-size: 3.8vw;
    }
    form>p, .lets-talk-div > form > div > input,.lets-talk-div > form > div > button {
        font-size: 1.25vw;
    }
    .follow-us-contacts{
        display: flex;
        flex-direction: row;
    }
    .follow-us-contacts > div{
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .follow-us-contacts > div > div:last-child > div{
        display: flex;
        flex-direction: row;
    }

    .follow-us-contacts > div > div:last-child{

        padding-bottom: 1.67vw;
        padding-top: 1.67vw;
    }
    .follow-us-section h2 {
        font-size: 2.7vw;
    }
    .follow-us-contacts a{
        font-size: 1.12vw;
    }
}
@media (max-width: 992px) and (min-width: 768px){
   .follow-us-section{
    display: flex;
    flex-direction: column-reverse;
   }
   .follow-us-image > img{
    width: 100%;
   }
   .follow-us-contacts{
    display: flex;
    flex-direction: row;
}
   .follow-us-contacts > div{
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lets-talk-div > form > div{
    height: 7.29vw;
}

.follow-us-contacts h2 {
    font-size: 2.7vw;
}
.follow-us-contacts a{
    font-size: 1.12vw;
}

/* 
    Fonts:
*/
form > h1{
    font-size: 6.51vw;
}
form>p{
    font-size: 2.34vw;
}
.follow-us-contacts h2, .follow-us-icons-h2 > h2 {
    font-size: 4.948vw;
}
.follow-us-contacts a{
    font-size: 2.083vw;
}
.follow-us-icons-img{
    height: auto;
}
.follow-us-icons-img > a > img{
    width: 3.125vw;
}

}
@media (max-width: 767px){
    .follow-us-section{
        display: flex;
        flex-direction: column-reverse;
       }
       .follow-us-image > img{
        width: 100%;
       }
       .follow-us-contacts{
        display: flex;
        flex-direction: column;
    }
    .follow-us-contacts > div > div h2{
        padding-left: 4.26vw;
    }
    .follow-us-icons{
        width: 100vw;
        padding: 1.111vw;
        align-items: flex-start;
        flex-direction: column;
        border: 1px solid #121212;
    }
    .follow-us-icons > div{
        border: 0;
    }
    .follow-us-icons-img >a{
        padding: 2.13vw 0  2.13vw 0;
        margin-right: 8.53vw;
    }
    .lets-talk-div form{
        border: 1px solid #121212;
        border-top: 0;
    }
    .lets-talk-div form > div{
        
        flex-direction: column;
    }
    .lets-talk-div form > div > input{
        width: 100%;
        margin: 0;
        padding:  3.2vw 4.26vw;
    }
    .lets-talk-div form > div > button{
        width: 100%;
        margin: 0;
        height: 12.8vw;
        margin-top: 4.26vw;
    }
    .lets-talk-div > form > div{
        height: auto;
    }
    .follow-us-contacts > div > div:last-child, .follow-us-contacts > div > div:last-child{
        padding: 10.67vw 0 10.67vw 0;
    }
    .follow-us-contacts > div > div h2, .follow-us-contacts > div > div h2{
        margin: 0;
        padding: 4.26vw
    }
    .follow-us-contacts > div{
        border-top: 0;
    }
}
